#page-lib {
	margin: 0 3% 0 3%;
	text-align: center;
}

#librarika-widget {
	float: right;
}

@media (max-width:620px) {
	#librarika-widget {
		float: inherit;
		text-align: center;
	}

	#lib-member-howto {
		clear: both;
	}
}